In [ ]:
# Importamos las librerias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from google.colab import files
import io

In [ ]:

# Esta linea permite que los graficos sean renderizados directamente en nuestro Notebook
## Carguemos en un pandas dataframe nuestra base de datos
%matplotlib inline

Carguemos en un pandas dataframe nuestra base de datos
pd.read_csv es el metodo que nos permite importar los datos desde un CSV y cargarlo en un **DataFrame**, que es la estructura de base de Pandas

In [ ]:
# Esta linea permite cargar el archivo peliculas.csv
uploaded=files.upload()

Saving peliculas.csv to peliculas.csv

In [ ]:
# Esta linea permite visualizar el encabezado del archivo peliculas.csv
#uploaded

In [ ]:
# Esta linea permite codificar el archivo peliculas.csv
movies= pd.read_csv(io.StringIO(uploaded['peliculas.csv'].decode('utf-8')))

In [ ]:
type(movies)

pandas.core.frame.DataFrame

In [ ]:
movies.head()

                                         movie_title  ...        gross
0                                            Avatar   ...  760505847.0
1          Pirates of the Caribbean: At World's End   ...  309404152.0
2                                           Spectre   ...  200074175.0
3                             The Dark Knight Rises   ...  448130642.0
4  Star Wars: Episode VII - The Force Awakens    ...  ...          NaN

[5 rows x 19 columns]

In [ ]:
# Cuantas lineas y columnas tiene nuestro dataframe
### Un dataframe es una estructura de datos que se compone de los elementos siguientes
movies.shape

(5043, 19)

In [ ]:
#visualizemos las columnas
movies.columns

Index(['movie_title', 'title_year', 'color', 'aspect_ratio', 'duration',
       'language', 'country', 'duration.1', 'genres', 'content_rating',
       'plot_keywords', 'director_name', 'actor_1_name', 'actor_2_name',
       'actor_3_name', 'cast_total_facebook_likes', 'budget', 'imdb_score',
       'gross'],
      dtype='object')

In [ ]:
movies.index

RangeIndex(start=0, stop=5043, step=1)

In [ ]:
columna1 = movies['movie_title']
columna1.head()

0                                              Avatar
1            Pirates of the Caribbean: At World's End
2                                             Spectre
3                               The Dark Knight Rises
4    Star Wars: Episode VII - The Force Awakens    ...
Name: movie_title, dtype: object

In [ ]:
linea = movies.loc[10,:]
linea

movie_title                                Batman v Superman: Dawn of Justice
title_year                                                                2016
color                                                                    Color
aspect_ratio                                                              2.35
duration                                                                   183
language                                                               English
country                                                                    USA
duration.1                                                                 183
genres                                                 Action|Adventure|Sci-Fi
content_rating                                                           PG-13
plot_keywords                based on comic book|batman|sequel to a reboot|...
director_name                                                      Zack Snyder
actor_1_name                                                      Henry Cavill
actor_2_name                                                      Lauren Cohan
actor_3_name                                                    Alan D. Purwin
cast_total_facebook_likes                                                24450
budget                                                                 2.5e+08
imdb_score                                                                 6.9
gross                                                              3.30249e+08
Name: 10, dtype: object

In [ ]:
movies.loc[:,'movie_title'].head()

0                                              Avatar
1            Pirates of the Caribbean: At World's End
2                                             Spectre
3                               The Dark Knight Rises
4    Star Wars: Episode VII - The Force Awakens    ...
Name: movie_title, dtype: object

# Intentemos inspeccionar nuestros datos y entenderlos mejor

# **Inspección de los tipos de datos**
# Datos importantes:


1.   La inspección de los datos se da para tener conocimiento de la salud de los datos que tenemos, saber si vienen limpios o no, y también porque se quiere tener un entendimiento cuantitativo de ellos. Parte de esto es mirar gráficos estadísticos y entender diferentes propiedades numéricas de las columnas.
2.   A diferencia de Numpy, Pandas no solo permite cargar datos numéricos, sino también datos de texto.
3.   El método info nos va a mostrar la cantidad completa de columnas con la cantidad de elementos no nulos que hay en esas columnas, y por último muestra el tipo de cada columna.

In [ ]:
#visualizemos las columnas con su respectivo tipo, permite manejar texto
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 19 columns):
movie_title                  5043 non-null object
title_year                   4935 non-null float64
color                        5024 non-null object
aspect_ratio                 4714 non-null float64
duration                     5028 non-null float64
language                     5031 non-null object
country                      5038 non-null object
duration.1                   5028 non-null float64
genres                       5043 non-null object
content_rating               4740 non-null object
plot_keywords                4890 non-null object
director_name                4939 non-null object
actor_1_name                 5036 non-null object
actor_2_name                 5030 non-null object
actor_3_name                 5020 non-null object
cast_total_facebook_likes    5043 non-null int64
budget                       4551 non-null float64
imdb_score                   5043 non-null float64
gross                        4159 non-null float64
dtypes: float64(7), int64(1), object(11)
memory usage: 748.7+ KB

In [ ]:
# columnas númericas y columnas de texto
movies.dtypes == float

movie_title                  False
title_year                    True
color                        False
aspect_ratio                  True
duration                      True
language                     False
country                      False
duration.1                    True
genres                       False
content_rating               False
plot_keywords                False
director_name                False
actor_1_name                 False
actor_2_name                 False
actor_3_name                 False
cast_total_facebook_likes    False
budget                        True
imdb_score                    True
gross                         True
dtype: bool

In [ ]:
movies.dtypes == int

movie_title                  False
title_year                   False
color                        False
aspect_ratio                 False
duration                     False
language                     False
country                      False
duration.1                   False
genres                       False
content_rating               False
plot_keywords                False
director_name                False
actor_1_name                 False
actor_2_name                 False
actor_3_name                 False
cast_total_facebook_likes     True
budget                       False
imdb_score                   False
gross                        False
dtype: bool

In [ ]:
movies.dtypes == object

movie_title                   True
title_year                   False
color                         True
aspect_ratio                 False
duration                     False
language                      True
country                       True
duration.1                   False
genres                        True
content_rating                True
plot_keywords                 True
director_name                 True
actor_1_name                  True
actor_2_name                  True
actor_3_name                  True
cast_total_facebook_likes    False
budget                       False
imdb_score                   False
gross                        False
dtype: bool

In [ ]:
num = (movies.dtypes == float) | (movies.dtypes == int)
num

movie_title                  False
title_year                    True
color                        False
aspect_ratio                  True
duration                      True
language                     False
country                      False
duration.1                    True
genres                       False
content_rating               False
plot_keywords                False
director_name                False
actor_1_name                 False
actor_2_name                 False
actor_3_name                 False
cast_total_facebook_likes     True
budget                        True
imdb_score                    True
gross                         True
dtype: bool

In [ ]:
num.index

Index(['movie_title', 'title_year', 'color', 'aspect_ratio', 'duration',
       'language', 'country', 'duration.1', 'genres', 'content_rating',
       'plot_keywords', 'director_name', 'actor_1_name', 'actor_2_name',
       'actor_3_name', 'cast_total_facebook_likes', 'budget', 'imdb_score',
       'gross'],
      dtype='object')

In [ ]:
for el in num.index:
    print(el)

movie_title
title_year
color
aspect_ratio
duration
language
country
duration.1
genres
content_rating
plot_keywords
director_name
actor_1_name
actor_2_name
actor_3_name
cast_total_facebook_likes
budget
imdb_score
gross

In [ ]:
num_cols = [c for c in num.index if num[c]]

In [ ]:
num_cols

['title_year',
 'aspect_ratio',
 'duration',
 'duration.1',
 'cast_total_facebook_likes',
 'budget',
 'imdb_score',
 'gross']

In [ ]:
movies.dtypes == object

movie_title                   True
title_year                   False
color                         True
aspect_ratio                 False
duration                     False
language                      True
country                       True
duration.1                   False
genres                        True
content_rating                True
plot_keywords                 True
director_name                 True
actor_1_name                  True
actor_2_name                  True
actor_3_name                  True
cast_total_facebook_likes    False
budget                       False
imdb_score                   False
gross                        False
dtype: bool

In [ ]:
obj = (movies.dtypes == object)
obj_cols = [c for c in obj.index if obj[c]]

In [ ]:
obj_cols

['movie_title',
 'color',
 'language',
 'country',
 'genres',
 'content_rating',
 'plot_keywords',
 'director_name',
 'actor_1_name',
 'actor_2_name',
 'actor_3_name']

In [ ]:
num_cols

['title_year',
 'aspect_ratio',
 'duration',
 'duration.1',
 'cast_total_facebook_likes',
 'budget',
 'imdb_score',
 'gross']

In [ ]:
movies_num = movies[num_cols]

In [ ]:
# Estadísticas de las columnas númericas
movies_num.describe()

        title_year  aspect_ratio  ...   imdb_score         gross
count  4935.000000   4714.000000  ...  5043.000000  4.159000e+03
mean   2002.470517      2.220403  ...     6.442138  4.846841e+07
std      12.474599      1.385113  ...     1.125116  6.845299e+07
min    1916.000000      1.180000  ...     1.600000  1.620000e+02
25%    1999.000000      1.850000  ...     5.800000  5.340988e+06
50%    2005.000000      2.350000  ...     6.600000  2.551750e+07
75%    2011.000000      2.350000  ...     7.200000  6.230944e+07
max    2016.000000     16.000000  ...     9.500000  7.605058e+08

[8 rows x 8 columns]